body {
  background-image: url("./img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.miniatura {
  height: 50px;
}

h1 {
  margin: 20px;
  text-align: center;
  font-weight: bolder;
}

.conteudo_principal {
  margin-top: 150px;
  margin-bottom: 50px;
  margin-right: 60px;
  margin-left: 60px;
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-radius: 20px;
}

.formulario {
    padding: 0 200px 0 200px;
}